.business-cover-page {
    font-family: "Inter Tight", sans-serif !important;
    a {
        text-decoration: none;
        list-style: none;

        &:hover {
            cursor: pointer;
        }
    }

    p{
        font-family: "Inter Tight", sans-serif !important;
        // &:hover{
        //     text-decoration: underline;
        //     color: greenyellow;
        // }
    }
}

.action-button {
    max-width: 8em;

    &.white {
        // color: white;
        color: white;
        border: 2px solid white;
    }

    &.teal {
        border: 2px solid teal;
        color: black;
    }
}
